.orderd {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    padding: 12px;
    background-color: rgb(234, 232, 234);
    border: 1px solid rgba(75, 75, 75, 0.1);
}

.ordered-detail {
    width: 100%;
    display: flex;

    justify-content: flex-start;
    padding: 12px;
    /*background-color: rgb(251, 235, 251);
    border: 1px solid rgba(75, 75, 75, 0.1);*/
}

.ordered-item {
    width: 100%;
    display: flex;
    gap: 40px;
}

.main-item-img {
    width: 10%;
}

.main-item-img img {
    width: 100%;
}