<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>WatchShopR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartProcess</display-name>
    <servlet-name>CartProcess</servlet-name>
    <servlet-class>controller.CartProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartProcess</servlet-name>
    <url-pattern>/cartProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>controller.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/productDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Process</display-name>
    <servlet-name>Process</servlet-name>
    <servlet-class>controller.Process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Process</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>controller.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutDone</display-name>
    <servlet-name>CheckOutDone</servlet-name>
    <servlet-class>controller.CheckOutDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutDone</servlet-name>
    <url-pattern>/done</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetails</display-name>
    <servlet-name>OrderDetails</servlet-name>
    <servlet-class>controller.OrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetails</servlet-name>
    <url-pattern>/orderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderProcess</display-name>
    <servlet-name>OrderProcess</servlet-name>
    <servlet-class>controller.OrderProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderProcess</servlet-name>
    <url-pattern>/orderProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewProcess</display-name>
    <servlet-name>ReviewProcess</servlet-name>
    <servlet-class>controller.ReviewProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewProcess</servlet-name>
    <url-pattern>/reviewProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnSale</display-name>
    <servlet-name>OnSale</servlet-name>
    <servlet-class>controller.OnSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnSale</servlet-name>
    <url-pattern>/onsale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filter</display-name>
    <servlet-name>Filter</servlet-name>
    <servlet-class>controller.Filter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenWatches</display-name>
    <servlet-name>MenWatches</servlet-name>
    <servlet-class>controller.MenWatches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenWatches</servlet-name>
    <url-pattern>/MenWatches</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoard</display-name>
    <servlet-name>DashBoard</servlet-name>
    <servlet-class>admin.DashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoard</servlet-name>
    <url-pattern>/admin/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderList</display-name>
    <servlet-name>OrderList</servlet-name>
    <servlet-class>admin.OrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderList</servlet-name>
    <url-pattern>/admin/orderlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderProcess</display-name>
    <servlet-name>AdminOrderProcess</servlet-name>
    <servlet-class>admin.OrderProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderProcess</servlet-name>
    <url-pattern>/admin/AdminOrderProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>admin.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderEdit</display-name>
    <servlet-name>OrderEdit</servlet-name>
    <servlet-class>admin.OrderEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderEdit</servlet-name>
    <url-pattern>/admin/orderedit</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>HomeFilter</display-name>
    <filter-name>HomeFilter</filter-name>
    <filter-class>filter.HomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HomeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>